
#container {	
	font-family:  Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.table td,
.table th {
	border: 1px solid #bdc3c7;
	padding: 8px;
}
.table tr:nth-child(even){
	background-color: #ecf0f1;
}
.table tr:hover {
	background-color: #95a5a6;
}
.table th {
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #16a085;
    color: white;
}
h1 {
	text-align: center;
	color: #2980b9;
}
#people_table {
	margin: auto;
    width: 50%;    
    padding: 10px;
	
}